.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  color: white;
  margin: 0;
}

.editIconTitle {
  width: fit-content;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  max-width: 75px;
}
